.Completadas {
    display: flex;
    background-color: #22333b;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 20px;
    color: white;
}

p {
    justify-content: center;
    align-items: center;
}